__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.hypothesis
.pytest_cache
/confings.py
/.pytest_cache/
/.idea/
/menu app.postman_collection.json
/menu app.postman_environment.json
/.env
